 .Logo {
    width: 300px;
    height: 110px;
    position:absolute;
    margin-top: 55px; left: 50%;
    transform: translate(-50%);
    z-index: 999;

  }

.barrenav{
position: relative;
height: 110px;
background-color: #80CA5B !important;
}
.LargeurRowbarreNav{
  width: 100%;
}
.Colbarrenav{
  display:flex;
  justify-content: space-around;
}
.margeintérieur{
  padding-right: 5% !important;
}
.margeintérieur2{
  padding-left: 5% !important;
}
.taillepolicebarrenav{
  font-size: 1.5em;
  font-weight: 500;
}