.titleconcept {
  margin : auto;
  margin-top : 10%;
  color : rgb(72, 99, 52);
  font-weight : bold;
  font-size : 1.7rem;
  text-align : center;
}

.textconcept {
  margin : 3%;
  color : rgb(72, 99, 52);
  font-size : 1.2rem;
  margin-bottom : 2%;
  margin-left : 5%;
  margin-right : 5%;
}

.aconcept {
  text-decoration: underline!important;
  color : rgb(72, 99, 52);
  font-weight : bold;
}