.formMargin {
    margin-top: 6%;
    background-color: rgb(222, 233, 244);
    border-radius: 30px;
    
    color: black;
    padding: 40px;
}

.modal-dialog {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%) !important;
}