.formMargin {
    margin-top: 8%;
    background-color: rgb(237, 234, 243);
    border-radius: 30px;
    color: rgb(72, 99, 52);
    font-size : 1.1rem;
    font-weight : bold;
    padding: 3%;
}

.titleforms {
  font-size : 1.8rem;
  font-weight : bold;
  margin-bottom : 2%;
}

.modal-dialog {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%) !important;
}