.footer {
  background-color : rgb(145, 199, 105);
  height : 10%;
  display : flex;
  justify-content: space-between;
  padding-left : 8%;
  padding-right: 8%;
  padding-top : 1%;
  margin-top : 100%;
}

a, p {
  color : rgb(72, 99, 52)!important;
  font-size : 0.8rem;
}

a {
  text-decoration: underline!important;
}

a:hover {
  font-weight : bold;
  color : #02320C;
}