.conseilcard {
  max-width : 25%;
  max-height : 30%;
  margin : auto;
  margin-top : 10%;
}

.cardstitleconseil {
  font-size : 1.4rem;
  font-weight : bold;
  color : #465456;
}

.textastuce {
  color : rgb(72, 99, 52);
  text-align : justify;
  font-size : 1rem;
}