@mixin borderContainer {
  border: 2px solid rgb(32, 32, 32);
  border-radius: 5px;
}

.MesEquipements {
  margin: 50px 0 50px 0;
  padding: 0 4% 0 4% !important;

  .loadingMesEquipements {
    animation: logo-loading-spin infinite 1s linear;
  }

  .containerMesEquipements {
    @include borderContainer;
    padding: 20px 0 20px 0;
    position: relative;

    .btnAddEquipement {
      position: absolute;
      right: 20px;
      z-index: 996;
    }

    .containerCardMesEquipements {
      display: flex;
    }
  }
}

@keyframes logo-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}