@mixin borderContainer {
  border: 2px solid rgb(32, 32, 32);
  border-radius: 5px;
}

.MesEquipements {
  margin: 50px 0 50px 0;
  padding: 0 4% 0 4% !important;

  .containerMesEquipements {
    @include borderContainer;
    padding: 20px 0 20px 0;
    position: relative;

    .btnAddEquipement {
      position: absolute;
      right: 20px;
    }

    .containerCardMesEquipements {
      display: flex;
    }
  }
}