@mixin borderContainer {
  border: 2px solid rgb(32, 32, 32);
  border-radius: 5px;
}

.MesEquipements {
  margin-top: 50px;
  padding: 0 4% 0 4% !important;

  .containerMesEquipements {
    @include borderContainer;
  }

  .containerMaConsommation {
    @include borderContainer;
  }
}